{
    "defaultConfig": {
        "api": "CoreEngine",
        "libraryDir":"lib/",
        "buildType": "develop"
    },
    "buildDirs":[
        {
            "dir":"dev/",
            "targetSource":"mod.js"
        }
    ],
    "compile": [
        {
            "path": "mod.js",
            "sourceType": "mod"
        },
        {
            "path": "launcher.js",
            "sourceType": "launcher"
        }
    ],
    "resources": [
        {
          "path":"res/",
          "resourceType":"resource"
        },{
          "path":"gui/",
          "resourceType":"gui"
        }
    ]
}